.product-card {
  width: 80%;
  border: 2px solid #c59d5f;
  padding: 30px;
  border-radius: 8px;
  background-color: #1f2937;
  text-align: center;

}

.product-card img {
  width: 90%;
  height: 180px;
  border: 1px solid #c59d5f;
  padding: 5px;
  background-color: #000;
  border-radius: 4px;
  cursor: pointer;
}

.product-card h3 {
  font-size: 16px;
  margin: 10px 0 5px;
  color :white;
}

.product-card p {
  font-size: 14px;
  margin-bottom: 10px;
}

.product-card button {
  width: 100%;
  padding: 8px;
  background-color: white;
  font-size: 15px;
  color: black;

  border-radius: 8px;
}

.product-card button:hover {
  background-color:#c59d5f;
}

.btn{
    cursor: pointer;
}

