.login-page {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  direction: rtl;
}

.login-form {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-form input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-form button {
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

.login-form button:hover {
  background-color: #333;
}