.product-card {
  width: 50%;
  border: 1px solid #000;
  padding: 30px;
  border-radius: 8px;
  background-color: #fff;
  text-align: center;

}

.product-card img {
  width: 70%;
  height: 180px;
  border: 1px solid #000;
  padding: 5px;
  background-color: #000;
  border-radius: 4px;
  cursor: pointer;
}

.product-card h3 {
  font-size: 16px;
  margin: 10px 0 5px;
}

.product-card p {
  font-size: 14px;
  margin-bottom: 10px;
}

.product-card button {
  width: 100%;
  padding: 8px;
  background-color: black;
  color: white;

  border-radius: 8px;
}

.product-card button:hover {
  background-color: rgb(54, 39, 39);
}

.btn{
    cursor: pointer;
}

